@tailwind base;
@tailwind components;
@tailwind utilities;

input[type=file]::-webkit-file-upload-button,
input[type=file]::file-selector-button {
    @apply bg-[#ede7f6] text-[#673ab7] hover:bg-[#673ab7] hover:text-white border-0 p-2 mr-2;
}

input[type=file]::-webkit-file-upload-button {
    border:none;
    padding:0.5rem;
    cursor: pointer;
}

